<html>
<body>

{% block content %}
<h1>Hi!</h1>
{{df | safe}}
{% endblock %}

{% for index, row in links.iterrows() %}
<tr>
<a href>{{ row['url_to_post'] }}</href>

</tr></br>
{% endfor %}

</body>
</html>

